In [1]:
import os 
os.chdir('../../')
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql://epigraph:epigraph@localhost:5432/epigraphhub"
)

from epigraphhub.models.forecast_swiss import forecast_all_cantons

In [2]:
%%time

df_for_hosp = forecast_all_cantons(
    'hosp',
    ['foph_test_d', 'foph_cases_d', 'foph_hosp_d'],
    vaccine=True,
    smooth=True,
    path = './examples/forecast_switzerland/saved_models_dash'
)

df_for_hosp.to_sql('ngboost_forecast_hosp_d_results', engine, schema = 'switzerland', if_exists = 'replace')

CPU times: user 16.5 s, sys: 440 ms, total: 16.9 s
Wall time: 1min 35s

364

In [5]:
df_for_hosp

               lower    median     upper canton
date
2022-08-10  0.092313  0.166147  0.299035     LU
2022-08-11  0.068113  0.170124  0.424917     LU
2022-08-12  0.055518  0.147935  0.394195     LU
2022-08-13  0.051951  0.126974  0.310340     LU
2022-08-14  0.082098  0.212581  0.550449     LU
...              ...       ...       ...    ...
2022-08-19  0.026217  0.072449  0.200206     OW
2022-08-20  0.007571  0.039661  0.207749     OW
2022-08-21  0.004484  0.020049  0.089650     OW
2022-08-22  0.005578  0.033099  0.196397     OW
2022-08-23  0.008616  0.025052  0.072842     OW

[364 rows x 4 columns]

In [3]:
%%time

df_for_total_hosp = forecast_all_cantons(
    'total_hosp',
    ['foph_test_d', 'foph_cases_d', 'foph_hosp_d', 'foph_hospcapacity_d'],
    vaccine=True,
    smooth=True,
    path = './examples/forecast_switzerland/saved_models_dash')

#df_for_total_hosp = df_for_total_hosp.set_index('date')

df_for_total_hosp.to_sql('ngboost_forecast_total_hosp_d_results', engine, schema = 'switzerland', if_exists = 'replace')

CPU times: user 21.5 s, sys: 427 ms, total: 21.9 s
Wall time: 1min 22s

364

In [6]:
df_for_total_hosp.to_sql('forecast_ml_total_hosp_d_results', engine, schema = 'switzerland', if_exists = 'replace')

364

In [4]:
%%time
df_for_icu = forecast_all_cantons(
    'icu_patients',
    ['foph_test_d', 'foph_cases_d', 'foph_hosp_d', 'foph_hospcapacity_d'],
    vaccine=True,
    smooth=True,
    path = './examples/forecast_switzerland/saved_models_dash')

df_for_icu.to_sql('ngboost_forecast_icu_patients_d_results', engine, schema = 'switzerland', if_exists = 'replace')

CPU times: user 20.1 s, sys: 367 ms, total: 20.5 s
Wall time: 1min 19s

364

In [8]:
df_for_icu.to_sql('forecast_ml_icu_patients_d_results', engine, schema = 'switzerland', if_exists = 'replace')

364

In [9]:
df_for_hosp.loc[df_for_hosp.canton == 'GE']

               lower    median     upper canton
date
2022-04-20  2.117945  2.850335  3.835986     GE
2022-04-21  2.464878  3.205369  4.168315     GE
2022-04-22  2.298333  3.391596  5.004898     GE
2022-04-23  2.172875  3.438438  5.441113     GE
2022-04-24  3.137744  4.664244  6.933382     GE
2022-04-25  2.166994  4.174569  8.042028     GE
2022-04-26  2.728686  4.335955  6.889950     GE
2022-04-27  2.207857  3.943915  7.045053     GE
2022-04-28  1.840786  3.534732  6.787498     GE
2022-04-29  1.955120  3.342333  5.713815     GE
2022-04-30  2.505112  4.426138  7.820287     GE
2022-05-01  3.239139  4.981798  7.662009     GE
2022-05-02  2.990513  5.377859  9.671038     GE
2022-05-03  1.989162  3.784452  7.200057     GE

In [10]:
engine = create_engine(
    "postgresql://epigraph:epigraph@localhost:5432/epigraphhub")

df_val = pd.read_sql_table(
        'foph_hosp_d', engine, schema='switzerland')

df_val

,id_,georegion,datum,entries,sumtotal,timeframe_7d,offset_last7d,sumtotal_last7d,timeframe_14d,offset_last14d,...,sumdelta7d,inzdelta7d,type,type_variant,version,datum_unit,entries_letzter_stand,entries_neu_gemeldet,entries_diff_last,date
0,1,CH,2020-02-25,4,9,False,51489,0,False,51120,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,4,0,344,2020-02-25
1,233,CH,2020-10-14,91,5655,False,51489,0,False,51120,...,54.0,0.62,COVID19Hosp,NaN,2022-04-19_06-06-20,day,91,0,344,2020-10-14
2,239,CH,2020-10-20,164,6384,False,51489,0,False,51120,...,93.0,1.08,COVID19Hosp,NaN,2022-04-19_06-06-20,day,164,0,344,2020-10-20
3,307,CH,2020-12-27,125,19277,False,51489,0,False,51120,...,17.0,0.20,COVID19Hosp,NaN,2022-04-19_06-06-20,day,125,0,344,2020-12-27
4,347,CH,2021-02-05,56,23398,False,51489,0,False,51120,...,-5.0,-0.06,COVID19Hosp,NaN,2022-04-19_06-06-20,day,56,0,344,2021-02-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22789,22179,ZH,2020-08-13,3,486,False,7826,0,False,7759,...,-2.0,-0.13,COVID19Hosp,NaN,2022-04-19_06-06-20,day,3,0,53,2020-08-13
22790,22180,ZH,2020-08-14,3,489,False,7826,0,False,7759,...,2.0,0.13,COVID19Hosp,NaN,2022-04-19_06-06-20,day,3,0,53,2020-08-14
22791,22181,ZH,2020-08-15,2,491,False,7826,0,False,7759,...,-1.0,-0.07,COVID19Hosp,NaN,2022-04-19_06-06-20,day,2,0,53,2020-08-15
22792,22182,ZH,2020-08-16,3,494,False,7826,0,False,7759,...,2.0,0.13,COVID19Hosp,NaN,2022-04-19_06-06-20,day,3,0,53,2020-08-16
22793,22183,ZH,2020-08-17,1,495,False,7826,0,False,7759,...,-2.0,-0.13,COVID19Hosp,NaN,2022-04-19_06-06-20,day,1,0,53,2020-08-17

In [11]:
df_val.loc[df_val.georegion == 'GE'].sort_values('datum')

,id_,georegion,datum,entries,sumtotal,timeframe_7d,offset_last7d,sumtotal_last7d,timeframe_14d,offset_last14d,...,sumdelta7d,inzdelta7d,type,type_variant,version,datum_unit,entries_letzter_stand,entries_neu_gemeldet,entries_diff_last,date
22303,7860,GE,2020-02-24,1,1,False,4112,0,False,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,1,0,48,2020-02-24
7642,7861,GE,2020-02-25,0,1,False,4112,0,False,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,0,0,48,2020-02-25
7643,7862,GE,2020-02-26,1,2,False,4112,0,False,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,1,0,48,2020-02-26
7644,7863,GE,2020-02-27,0,2,False,4112,0,False,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,0,0,48,2020-02-27
7645,7864,GE,2020-02-28,0,2,False,4112,0,False,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,0,0,48,2020-02-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8363,8641,GE,2022-04-15,1,4138,True,4112,26,True,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,0,1,48,2022-04-15
8364,8642,GE,2022-04-16,1,4139,True,4112,27,True,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,0,1,48,2022-04-16
8365,8643,GE,2022-04-17,0,4139,True,4112,27,True,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,0,0,48,2022-04-17
8366,8644,GE,2022-04-18,0,4139,True,4112,27,True,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,0,0,48,2022-04-18
8367,8645,GE,2022-04-19,0,4139,False,4112,0,False,4067,...,NaN,NaN,COVID19Hosp,NaN,2022-04-19_06-06-20,day,0,0,48,2022-04-19